
@charset "UTF-8";


@font-face {
   font-family: Animalpaw;
   src: url(../fonts/AnimalPaw.ttf);   
}


@font-face{
	font-family: TommySoft;
   	src: url(../fonts/TommySoft.otf);
}


#container-login{
	display: flex;	
	justify-content: end;
	margin-right: 0;	
}

.page-header{
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	font-family: AnimalPaw;
	font-size: 15vw;	
}

h1{
	font-size: 8vmin;
	color: #d78fa3;
}

h1 small{
	color: #5bc0de;
}

#navbar ul li a{
    font-family: TommySoft;
    font-size: 2vmin;
    color: #5bc0de;
}

#jumbo-carousel{
	padding: 0;
	margin-bottom: 0;
	background-color: white;
}

#painel-home{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px;
	font-family:TommySoft ;
}

#painel-home .jumbotron{
	border-radius: 10px;
	padding: 10px;
        background-color: #fde995;
}

#artigo-esquerdo{
	margin-bottom: 0;
	
}

#artigo-esquerdo h2{
	color:#5bc0de;
}

#artigo-direito{
	margin-top: 30px;

}

#artigo-direito h2{
	color:#5bc0de;
}

#dev-footer{
	margin-bottom: 0;
	text-align: center;
	background-color: white;
}

/*
   ------------ PAINEL USUARIO PAGE -------------
*/


.container {
    
}

.btn {

}

.btn-info {

}

.navbar-btn {

}

form{
    
  
}

.navbar {
    background-color: #fde995;
    display: flex;
    justify-content: space-around;
    
}


.navbar-default {

}

.nav {

}

.navbar-nav {
    
}

.commonninja_component {

}

.btn-lg {

}

.well {

}

.well-sm {

}
